*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #012852, #61696b, #022a3a);
}

a{
    text-decoration: none;
    color: #ffffff;
}

ul li{
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
}
.card{
    border-radius: 40px;
    background: #1d293b;
    color: #fff;
}
.sidebar{
    height: 300px;
}
